body {
  background-color: #f5f6f8;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.dashboard-section {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 30px 35px;
  width: 1100px;
  margin-top: 100px;
  margin-left: 350px;
  margin-right: auto;
}

.dashboard-section h5 {
  font-weight: 600;
  color: #111827;
  margin-bottom: 12px;
}

.dashboard-section p {
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 30px;
}

.dashboard-card {
  border-radius: 12px;
  padding: 20px 25px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-total {
  background-color: #fffdf6;
}

.card-active {
  background-color: #f1f8f5;
}

.card-pending {
  background-color: #fdf5f5;
}

.dashboard-card-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  color: #374151;
  font-size: 14px;
  margin-bottom: 10px;
}

.icon-yellow {
  color: #fbbf24;
  background-color: #fef3c7; 
  box-shadow: 0 0 10px #fef3c7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-red {
  color: #ef4444;
  background-color: #fee2e2; 
  box-shadow: 0 0 10px #fee2e2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-card h2 {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin-bottom: 5px;
}

.dashboard-card small {
  color: #6b7280;
  font-size: 13px;
}

.check-wrapper {
  background-color: #b8f7cf;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #b8f7cf;
}

.check-inner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-inner i {
  color: #166d3b;
  font-size: 20px;
}

@media (max-width: 991px) {
  .dashboard-section {
    width: 90%;
    padding: 20px;
    margin: 70px auto;
  }
}

@media (max-width: 576px) {
  .row > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .dashboard-card {
    margin-bottom: 15px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
  }
}
