.btn-custom-green {

    border-color: #618674;
    color: #618674;
    margin: .5em;
}

.btn-custom-green:hover {
    background-color: #618674;
    border-color: #618674;
    color: #fff;

}

.new-item {
    border-color: #618674;
    color: #618674;
    border: #618674;
    border: 1px solid #618674;
}

.borrder {
    /* border: 1px solid #618674; */

    border-color: black;
    border-width: 0px .5px 0px 0px;
    border-style: solid;
}

.images {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

.card1:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
