.btn-custom-green {

    border-color: #618674;
    color: #618674;
    margin: .5em;
}

.btn-custom-green:hover {
    background-color: #618674;
    border-color: #618674;
    color: #fff;

}

.new-item {
    border-color: #618674;
    color: #618674;
    border: #618674;
    border: 1px solid #618674;
}

.borrder {
    /* border: 1px solid #618674; */

    border-color: black;
    border-width: 0px .5px 0px 0px;
    border-style: solid;
}

.images {
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

.card1:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}


.card1:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.image_card {
    width: 100%;
    height: 100%;
    padding: 1em;
}

.sm-img {
    width: 30%;
    height: 30%;
}

.quantity-input .form-control {
    border-color: #EBF3ED;
    text-align: center;
    padding: 0;
    border-left: 0;
    border-right: 0;
    /* Match button height */
    height: 48px;
}

.text-truncate-2-lines {
    /* Required for the truncation to work */
    display: -webkit-box;
    /* Max number of lines to show */
    -webkit-line-clamp: 2;
    /* Text should wrap to a new line */
    -webkit-box-orient: vertical;
    /* Hides the content that exceeds the box height */
    overflow: hidden;
    /* Fallback for browsers that don't support -webkit-line-clamp */
    text-overflow: ellipsis;
}
